:root {
	--mobile: 375px;
	--desktop: 1440px;
	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--green-teal: hsl(166, 100%, 37%);
	--cobalt-blue: hsl(234, 85%, 45%);
	/* Gradient */
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	/* Circle */
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);
	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);

	--font-size: 18px
}

* {
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;
}

body {
	margin: 0;
	font-size: var(--font-size);
	display: grid;
	justify-content: center;
}

.result, .summary {
	width: var(--mobile);
}

.result {
	background: linear-gradient(0, var(--light-royal-blue), var(--light-slate-blue));
	padding: var(--font-size);
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
	height: fit-content;
	color: var(--light-lavender);
	text-align: center;
}

.result h2 {
	margin: 0;
	margin-bottom: 15px;
	font-size: var(--font-size);
}

.result h3 {
	color: var(--pale-blue);
}

.result p.circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 140px;
	height: 140px;
	border-radius: 100px;
	background: linear-gradient(0, var(--persian-blue), var(--violet-blue) );
}

.result .big {
	font-size: calc(var(--font-size) * 3);
	font-weight: 800;
	color: var(--white);
}

.result p {
	width: 80%;
	margin-inline: auto;
	font-size: 0.9rem;
}

.summary {
	padding: 30px;
}

.summary h2 {
	font-size: var(--font-size);
}

.stat {
	width: 100%;
	height: 3rem;
	padding: var(--font-size);
	border-radius: 8px;
	margin-top: 16px;
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 700;
}

.stat span:nth-child(2) {
	margin-left: var(--font-size);
}

.stat span:nth-child(3) {
	position: absolute;
	right: var(--font-size);
}

.value::after {
	content: ' / 100';
	opacity: 0.6;
}

.red {
	background-color: hsla(0, 100%, 67%, 0.04);
}
.red span:nth-child(2) {
	color: var(--light-red);
}

.yellow {
	background-color: hsl(39, 100%, 56%, 0.04);
}
.yellow span:nth-child(2) {
	color: var(--orangey-yellow);
}

.teal {
	background-color: hsl(166, 100%, 37%, 0.04);
}
.teal span:nth-child(2) {
	color: var(--green-teal);
}

.blue {
	background-color: hsl(234, 85%, 45%, 0.04);
}
.blue span:nth-child(2) {
	color: var(--cobalt-blue);
}

.summary button {
	display: block;
	margin-inline: auto;
	background-color: var(--dark-gray-blue);
	border: none;
	width: 100%;
	height: calc(3 * var(--font-size));
	border-radius: calc(1.5 * var(--font-size));
	margin-top: 30px;
	color: var(--white);
	font-size: var(--font-size);
}
@media (min-width: 1440px) {
	* {
		box-sizing: border-box;
	}
	body {
		height: 100vh;
		display: grid;
		grid-template-rows: 1fr 50px;
	}
	body > div {
		grid-row: 1 / 2;
		place-self: center;
		border-bottom-left-radius: 22px;
		border-bottom-right-radius: 22px;
		box-shadow: 20px 20px 20px 0px rgb(173 173 173 / 75%);
		display: flex;
	}
	.result {
		display: flex;
		flex-direction: column;
		border-radius: var(--font-size);
	}
	.result p.circle {
		width: 167px;
		height: 167px;
	}
	.result p {
		font-size: 1rem;
		max-width: 220px;
	}
	.attribution {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
	}
}